body {
    background-image: url("../images/film2.jpg");
}

.check {
    color: black;
    height: 21px;
    width: 25px;
}

.itemlist {
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.Info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.instructions {
    color: white;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
}

.col-md-8 > .jumbotron {
    background-color: #20315A; 
    color: white;
}

.lead {
    text-align: center;
}

.listbtn {
    color: black;
    font-size: 12px;
    margin-bottom: 5px;
}

.display-4 {
    animation-name: expand;
    animation-duration: 4s;
    text-align: center;
} 

@keyframes expand {
  0% {
    letter-spacing: 0vw;
  }
  50% {
    letter-spacing: 1.5vw;
  }
  100% {
    letter-spacing: 0vw;
  }
}